
/* BOTTOM BARS ================================= */
/* active state */
/* HIGHLIGHTER ================================== */
/* active state */
/* ANIMATIONS ================ */
@-webkit-keyframes "inputHighlighter" {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes "inputHighlighter" {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes "inputHighlighter" {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  &:focus {
    outline: none;
    &~.bar {
      &:before {
        width: 50%;
      }
      &:after {
        width: 50%;
      }
    }
    &~.highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
  }
}
.bar {
  position: relative;
  display: block;
  width: 300px;
  &:before {
    content: '';
    height: 4px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    left: 50%;
  }
  &:after {
    content: '';
    height: 4px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    right: 50%;
  }
}
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
